.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px;
  font-size: 16px;
}

.card-body p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

.Table-bordered {
  border-collapse: collapse;
  padding: 8px;
}

.Table-bordered td,
.Table-bordered th {
  border: 1px solid black;
  padding: 8px;
}

.img-container {
  max-width: 300px;
  min-width: 150px;
  width: 100%;
  margin: auto;
}

.img-hover {
  transition: transform 0.3s ease;
}

.img-hover:hover {
  transform: scale(1.25);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
  }
}

@media screen and (max-width: 768px) {
  .App-footer {
    height: 30px;
    font-size: medium;
  }
  body {
    font-size: 14px;
  }
  .card-body p {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 5px;
  }
}

@media (max-width: 576px) {
  .table-responsive {
    overflow-x: auto;
  }

  .table tbody tr {
    display: block;
    margin-bottom: 20px;
  }

  .table tbody td {
    display: block;
  }

  .table thead {
    display: none;
  }

  .img-container img {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    padding: 0;
    border: 0;
  }
}
