.App {
  text-align: center;
  margin-top: 5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px;
  font-size: 16px;
}

.card-body p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

.table {
  position: relative;
}

.Table-bordered {
  border-collapse: collapse;
  padding: 8px;
}

.Table-bordered td,
.Table-bordered th {
  border: 1px solid black;
  padding: 8px;
}

.img-container {
  max-width: 300px;
  min-width: 150px;
  width: 100%;
  margin: auto;
}

.img-hover {
  transition: transform 0.3s ease;
}

.img-hover:hover {
  transform: scale(1.25);
}

.custom-label {
  margin-bottom: 2px;
}

.custom-input {
  margin-bottom: 8px;
}

.bold-text {
  font-weight: bold;
}

.bold-meta-text {
  font-weight: bold;
}

.form-select {
  margin-bottom: 10px;
  padding: 4px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
  }

  .App-footer {
    height: 30px;
    font-size: medium;
  }

  body {
    font-size: 14px;
  }

  .card-body p {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 5px;
  }
}

@media (max-width: 576px) {
  .table-responsive {
    overflow-x: auto;
  }

  .table tbody tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .table tbody td {
    display: block;
    padding: 0.3rem;
  }

  .table tbody td:before {
    content: attr(data-label);
    font-weight: bold;
  }

  .table tbody td p {
    margin: 0;
  }

  .table thead {
    display: contents;
  }

  .img-container img {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 0;
    border: 0;
  }

  .table thead {
    display: none;
  }
}

@media (min-width: 768px) {
  .bold-text {
    display: none;
  }
  .bold-meta-text {
    display: inline;
  }
  .sort-bar {
    display: none;
  }
}

@media (max-width: 769px) {
  .bold-text {
    display: inline;
  }
  .btn-outline-secondary {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-inline: 5px;
    margin-block: 5px;
  }
}
